@{
    ViewData["Title"] = "Om os";
}

<div class="about-us-section1">
    <h3 id="about-us-headline">Vores team</h3>
</div>

<div class="about-us-person-container">
    <center>
        <div class="about-us-person Christoffer">
        </div>
        <p id="about-us-paragraph2">Christoffer</p>
    </center>
    <p id="about-us-paragraph3">Lorem ipsum dolor sit amet, elit proin feugiat sit, nunc vitae consectetuer ante in purus placerat. Cras cum lectus cras quam mauris nostra. Ipsum donec consectetuer morbi, mauris parturient donec.</p>
</div>

<div class="about-us-person-container">
    <center>
        <div class="about-us-person Frederik">
        </div>
        <p id="about-us-paragraph2">Frederik</p>
    </center>
    <p id="about-us-paragraph3">Lorem ipsum dolor sit amet, elit proin feugiat sit, nunc vitae consectetuer ante in purus placerat. Cras cum lectus cras quam mauris nostra. Ipsum donec consectetuer morbi, mauris parturient donec.</p>
</div>

<div class="about-us-person-container">
    <center>
        <div class="about-us-person Lasse">
        </div>
        <p id="about-us-paragraph2">Lasse</p>
    </center>
    <p id="about-us-paragraph3">Lorem ipsum dolor sit amet, elit proin feugiat sit, nunc vitae consectetuer ante in purus placerat. Cras cum lectus cras quam mauris nostra. Ipsum donec consectetuer morbi, mauris parturient donec.</p>
</div>

<div class="about-us-person-container">
    <center>
        <div class="about-us-person Mikkel">
        </div>
        <p id="about-us-paragraph2">Mikkel</p>
    </center>
    <p id="about-us-paragraph3">Lorem ipsum dolor sit amet, elit proin feugiat sit, nunc vitae consectetuer ante in purus placerat. Cras cum lectus cras quam mauris nostra. Ipsum donec consectetuer morbi, mauris parturient donec.</p>
</div>

<div class="about-us-person-container">
    <center>
        <div class="about-us-person Simon">
        </div>
        <p id="about-us-paragraph2">Simon</p>
    </center>
    <p id="about-us-paragraph3">Lorem ipsum dolor sit amet, elit proin feugiat sit, nunc vitae consectetuer ante in purus placerat. Cras cum lectus cras quam mauris nostra. Ipsum donec consectetuer morbi, mauris parturient donec.</p>
</div>

<br /><br /><br /><br />

<center>
    <div id="about-us-info">
        <center><img id="about-us-icon" src="/images/info-icon.png" /></center>
        <p id="about-us-paragraph3">Lorem ipsum dolor sit amet, elit proin feugiat sit, nunc vitae consectetuer ante in purus placerat. Cras cum lectus cras quam mauris nostra. Ipsum donec consectetuer morbi, mauris parturient donec.</p>
    </div>
</center>
