@{
    ViewData["Title"] = "Om os";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Dette website er udviklet af 5 ambitiøse datamatikere og er ment som et hjælpemiddel
    til dig med begyndende demens. Det kan bruges til at gemme oplysninger, noter og
    billeder af dig og dine pårørende.
    Demens er tegn på sygdom i hjernen og viser sig ved svækkede kognitive funktioner.
    Demens rammer oftest personer over 65 år, men kan ses helt ned i 40-50 års alderen.
    Har man symptomer, er det vigtigt at blive grundig udredt og få en præcis diagnose,
    så man kan få tilbudt den rette behandling, støtte og pleje.
</p>
