@{
    ViewData["Title"] = "Om os";
}

<div class="about-us-section1">
    <h3 id="about-us-headline">Vores team</h3>
</div>

<div class="about-us-person-container">
    <center>
        <div class="about-us-person">
        </div>
        <p id="about-us-paragraph2">Christoffer</p>
    </center>
    <p id="about-us-paragraph3">Lorem ipsum dolor sit amet, elit proin feugiat sit, nunc vitae consectetuer ante in purus placerat. Cras cum lectus cras quam mauris nostra. Ipsum donec consectetuer morbi, mauris parturient donec.</p>
</div>

<div class="about-us-person-container">
    <center>
        <div class="about-us-person">
        </div>
        <p id="about-us-paragraph2">Frederik</p>
    </center>
    <p id="about-us-paragraph3">Lorem ipsum dolor sit amet, elit proin feugiat sit, nunc vitae consectetuer ante in purus placerat. Cras cum lectus cras quam mauris nostra. Ipsum donec consectetuer morbi, mauris parturient donec.</p>
</div>

<div class="about-us-person-container">
    <center>
        <div class="about-us-person">
        </div>
        <p id="about-us-paragraph2">Lasse</p>
    </center>
    <p id="about-us-paragraph3">Lorem ipsum dolor sit amet, elit proin feugiat sit, nunc vitae consectetuer ante in purus placerat. Cras cum lectus cras quam mauris nostra. Ipsum donec consectetuer morbi, mauris parturient donec.</p>
</div>

<div class="about-us-person-container">
    <center>
        <div class="about-us-person">
        </div>
        <p id="about-us-paragraph2">Mikkel</p>
    </center>
    <p id="about-us-paragraph3">Lorem ipsum dolor sit amet, elit proin feugiat sit, nunc vitae consectetuer ante in purus placerat. Cras cum lectus cras quam mauris nostra. Ipsum donec consectetuer morbi, mauris parturient donec.</p>
</div>

<div class="about-us-person-container">
    <center>
        <div class="about-us-person">
        </div>
        <p id="about-us-paragraph2">Simon</p>
    </center>
    <p id="about-us-paragraph3">Lorem ipsum dolor sit amet, elit proin feugiat sit, nunc vitae consectetuer ante in purus placerat. Cras cum lectus cras quam mauris nostra. Ipsum donec consectetuer morbi, mauris parturient donec.</p>
</div>

<br /><br /><br /><br />

<center>
    <div id="about-us-info">
        <center><img id="about-us-icon" src="https://www.freeiconspng.com/uploads/info-icon-7.png" /></center>
        <p id="about-us-paragraph">
            Dette website er udviklet af 5 grønskollinger og er ment som et hjælpemiddel
            til dig med begyndende demens. Det kan bruges til at gemme oplysninger, noter og
            billeder af dig og dine pårørende.
            Demens er tegn på sygdom i hjernen og viser sig ved svækkede kognitive funktioner.
            Demens rammer oftest personer over 65 år, men kan ses helt ned i 40-50 års alderen.
            Har man symptomer, er det vigtigt at blive grundig udredt og få en præcis diagnose,
            så man kan få tilbudt den rette behandling, støtte og pleje.
        </p>
    </div>
</center>
