@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    University College Lillebælt<br />
    Seebladsgade 1<br />
    5000 Odense C
</address>

<address>
    <strong>Telefon:</strong> <a> 21 35 06 07</a> <br/>
    <strong>Support:</strong> <a href="mailto:lasseduus@live.dk">Email vores support her</a><br/>
    <strong>Marketing:</strong> <a href="mailto:lasseduus@live.dk">Email vores marketing her</a>
</address>
