@{
    ViewData["Title"] = "Kontakt";
}
<head>
    <title>Kontakt</title>
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="../wwwroot/css/site.css">
    <link rel="Stylesheet" type="text/css" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.css">
</head>

<div class="Contact-Container">
    <div>
        <h1 class="Contact-Welcome">Hej, hvordan kan vi hjælpe?</h1>
    </div>  
    <div class="Contact-Options-Container">
    <div class="Contact-Options">
        <a href="../Views/ContactSupport/LogInSupport.cshtml">
            <center>
                <img class="Contact-Options-Image" src="https://www.springboard.com/images/springboard/default-profile-mentor-rounded@2x.70dc0c67.png" alt="Billedet kunne ikke hentes" title="Log in hjælp" />
                <p class="Support-Text" align="center">Log in hjælp</p>
            </center>
        </a>
    </div>
    <div class="Contact-Options">
        <a href="../Views/ContactSupport/LogInSupport.cshtml">
            <center>
                <img class="Contact-Options-Image" src="https://www.ahs.com/img/icon_phone.png" alt="Billedet kunne ikke hentes" title="Ring til os" />
                <p class="Support-Text" align="center">Ring til os</p>
            </center>
            </a>
    </div>
        <div class="Contact-Options">
            <a href="mailto:lasseduus@live.dk">
                <center>
                    <img class="Contact-Options-Image" src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/email-2-icon.png" alt="Billedet kunne ikke hentes" title="Send os en email" />
                    <p class="Support-Text" align="center">Send os en email</p>
                </center>
            </a>
        </div>
        <div class="Contact-Options">
            <a href="../Views/ContactSupport/LogInSupport.cshtml">
                <center>
                    <img class="Contact-Options-Image" src="https://cdn4.iconfinder.com/data/icons/e-commerce-icon-set/48/FAQ-512.png" alt="Billedet kunne ikke hentes" title="Send os en email" />
                    <p class="Support-Text" align="center">FAQ</p>
                </center>
            </a>
        </div>
    </div>
</div>

<address style="margin-top: 50px">
    University College Lillebælt<br />
    Seebladsgade 1<br />
    5000 Odense C
</address>

<address>
    <strong>Telefon:</strong> <a> 21 35 06 07</a> <br />
    <strong>Support:</strong> <a href="mailto:lasseduus@live.dk">Email vores support her</a><br />
    <strong>Marketing:</strong> <a href="mailto:lasseduus@live.dk">Email vores marketing her</a>
</address>
