@{
    ViewData["Title"] = "Kontakt";
}
<head>
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.css">
</head>

@*Container div for the whole page*@
<body id="Contact-body">
    <div class="Contact-Container">
        <div>
            <h1 class="Contact-Welcome">Hej, hvordan kan vi hjælpe?</h1>
        </div>
        <div class="Contact-Options-Container">
            <div class="Contact-Options">
                <a runat="server" href="/ContactSupport/LogInSupport">
                    <center>
                        <img class="Contact-Options-Image" src="https://www.springboard.com/images/springboard/default-profile-mentor-rounded@2x.70dc0c67.png" alt="Billedet kunne ikke hentes" />
                        <p class="Support-Text" align="center">Log in hjælp</p>
                    </center>
                </a>
            </div>

            <div class="Call-Flipper-Container">
                <div class="Call-Flipper">
                    <div class="Call-Front">
                        <center>
                            <img class="Contact-Options-Image" src="https://www.ahs.com/img/icon_phone.png" alt="Billedet kunne ikke hentes" />
                            <p class="Support-Text" align="center">Ring til os</p>
                        </center>
                    </div>
                    <div class="Call-Back">
                        <center>
                            <p>Telefon: <br /> 12 34 56 78</p>
                        </center>
                    </div>
                </div>
            </div>

            <div class="Contact-Options">
                <a href="mailto:lasseduus@live.dk">
                    <center>
                        <img class="Contact-Options-Image" src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/email-2-icon.png" alt="Billedet kunne ikke hentes" />
                        <p class="Support-Text" align="center">Send os en email</p>
                    </center>
                </a>
            </div>

            <div class="Contact-Options">
                <a href="/ContactSupport/FAQ">
                    <center>
                        <img class="Contact-Options-Image" src="https://cdn4.iconfinder.com/data/icons/e-commerce-icon-set/48/FAQ-512.png" alt="Billedet kunne ikke hentes" />
                        <p class="Support-Text" align="center">FAQ</p>
                    </center>
                </a>
            </div>

            <div class="Contact-Options">
                <a href="/ContactSupport/Security">
                    <center>
                        <img class="Contact-Options-Image" src="https://cdn1.iconfinder.com/data/icons/unique-round-blue/93/lock-512.png" alt="Billedet kunne ikke hentes" />
                        <p class="Support-Text" align="center">Sikkerhed</p>
                    </center>
                </a>
            </div>

            <div class="Contact-Options">
                <a href="/ContactSupport/Payment">
                    <center>
                        <img class="Contact-Options-Image" src="http://radconlr.dreamhosters.com/wp-content/uploads/2015/04/pay-bill-icon-400x400.png" alt="Billedet kunne ikke hentes" />
                        <p class="Support-Text" align="center">Betalinger</p>
                    </center>
                </a>
            </div>

            <div class="Contact-Options">
                <a href="/ContactSupport/Donations">
                    <center>
                        <img class="Contact-Options-Image" src="https://bobwoodrufffoundation.org/wp-content/uploads/2017/03/bwf-donation-icons-one-time.png" alt="Billedet kunne ikke hentes" />
                        <p class="Support-Text" align="center">Donationer</p>
                    </center>
                </a>
            </div>
            <div class="Contact-Options">
                <div>
                    <a href="/ContactSupport/KeyTerms">
                        <center>
                            <img class="Contact-Options-Image" src="~/images/Key-icon.png" alt="Billedet kunne ikke hentes" />
                            <p class="Support-Text" align="center">Nøglebegreber</p>
                        </center>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
<br />
<address style="margin-top: 50px">
    University College Lillebælt<br />
    Seebladsgade 1<br />
    5000 Odense C
</address>

<address>
    <strong>Telefon:</strong> <a> 12 34 56 78</a> <br />
    <strong>Support:</strong> <a href="mailto:lasseduus@live.dk">Email vores support her</a><br />
</address>
