@{
    ViewData["Title"] = "En fremtid uden demens";
}


<h4>
    Vil du gerne af med din demens?
    <a class="btn btn-default" style="margin-top: 10px" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
        Ja tak
    </a>
</h4>