@{
    ViewData["Title"] = "En fremtid uden demens";
}

<br>

<h4>
    Vil du gerne af med din demens?
    @*<a class="btn btn-default" style="margin-top: 10px" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            Ja tak4
        </a>*@
</h4>


<div>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" type="submit" onclick="clickCounter()"/><h1>Ja det vil jeg gerne</h1></a>
</div>

<br />

<div id="result"></div>