@model IEnumerable<WelfareDenmarkMVC.Models.AccountViewModels.ChecklistViewModel>

@using Microsoft.AspNetCore.Identity
@using WelfareDenmarkMVC.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	<h2>Huskeliste</h2>

	<p>
		<a asp-action="Create">Lav et nyt punkt til huskeliste</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					Oversigt
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.ChecklistItem)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id">Redigér</a> |
						<a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
						<a asp-action="Delete" asp-route-id="@item.Id">Slet</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<h2>Log ind for at se din huskeliste.</h2>

	<div>
		<h4>Klik <a asp-controller="Account" asp-action="Login">her</a> for at logge ind.</h4>
	</div>

}