@model WelfareDenmarkMVC.Models.ContactListViewModel

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-controller="ContactList" asp-action="Index">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="FullName" class="control-label">Navn</label>
				<input asp-for="FullName" class="form-control" />
				<span asp-validation-for="FullName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PhoneNumber" class="control-label">Telefon</label>
				<input asp-for="PhoneNumber" class="form-control" />
				<span asp-validation-for="PhoneNumber" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Opret" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>
