
@{
    ViewData["Title"] = "PageNotFound";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageNotFound</title>
</head>
<body>
    <h1>Så virker det sgu, ja daaak</h1>
</body>
</html>
