@{
    ViewData["Title"] = "DeleteAccount";
}
<head>
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">

    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
    <script type="text/javascript" src="/js/site.js"></script>
</head>
<body>
    <div class="delete-container">
        <p>Vi er kede af du forlader os, du sletter din profil ved at klikke <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">her</a></p>
    </div>
</body>
