@model IndexViewModel

@{
	ViewData["Title"] = "Dine kontakter ";
	ViewData.AddActivePage(ManageNavPages.ContactPersons);
}

<h4>@ViewData["Title"]</h4>




<div class="checkList">
	@{
		await Html.RenderPartialAsync("_CreateContactPartial", new ContactListViewModel());
	}
</div>


<p>
	@Html.ActionLink("Mine kontakter", "Index", "ContactList", new { }, new { })
</p>


@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}
