@model IndexViewModel
@{
    ViewData["Title"] = "Dine kontakter ";
    ViewData.AddActivePage(ManageNavPages.ContactPersons);
}

<h4>@ViewData["Title"]</h4>

<div class="contact-person-container">

    <div class="contact-left">
        <div class="contact-person-image">

        </div>
    </div>

    <div class="contact-right">
        <div class="contact-person-name">
            <p class="contact-name-text"><b>Doktor Johnny</b></p>
        </div>

        <div class="contact-person-phone">
            <p class="contact-phone-text">34 53 24 32</p>
        </div>
    </div>
</div>

<br /><br />


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
