

<h4>@ViewData["Title"]</h4>
@using WelfareDenmarkMVC.Data;
@model GalleryImageViewModel;




<form method="post" asp-controller="Manage" enctype="multipart/form-data" asp-action="Gallery">
    <input name="imageToBeUploaded" type="file" onchange="previewFile()"><br>
    <img name="galleryimg" src="" height="200" alt="Dit billede bliver vist her"><br>
    <input type="submit" value="Gem" />
</form>


<script src="/js/site.js"></script>
