@model IEnumerable<WelfareDenmarkMVC.Models.ManageViewModels.GalleryImageViewModel>

<h4>@ViewData["Title"]</h4>

<form method="post" asp-controller="Manage" enctype="multipart/form-data" asp-action="Gallery">

        <input name="imageToBeUploaded" type="file" onchange="previewFile()"><br>
        <img name="galleryimg" src="" height="200" alt="Dit billede bliver vist her"><br>
        <input type="submit" value="Gem" />
</form>
     
@foreach (GalleryImageViewModel Item in @Model)
 {
    @if (Item.Image != null)
     {
        <div>
          <img src="data:image;base64,@System.Convert.ToBase64String(Item.Image)"/>
        </div>
     }
 }

<script src="/js/site.js"></script>
