
<h4>@ViewData["Title"]</h4>

<form name="form" action="/UploadImage" enctype="multipart/form-data" method="post">
    <input id="files" name="files" type="file" multiple onchange="fileupload('files');" />
</form>


<script src="/js/site.js"></script>
