
<h4>@ViewData["Title"]</h4>

@model GalleryImageViewModel;
@using WelfareDenmarkMVC.Data;
@inject ApplicationDbContext _context;


<form method="post" enctype="multipart/form-data">
    <input name="gallery" type="file" onchange="previewFile()" ><br>
    <img name="galleryimg" src="" height="200" alt="Image preview...">
    <input type="submit" value="Submit">
</form>


<script src="/js/site.js"></script>
