@model IndexViewModel
@{
    ViewData["Title"] = "Galleri";
    ViewData.AddActivePage(ManageNavPages.Gallery);
}

<h4>@ViewData["Title"]</h4>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
