@model IndexViewModel
@{
	ViewData["Title"] = "Medicin";
	ViewData.AddActivePage(ManageNavPages.Medicine);
}

<script type="text/javascript">
	window.onload = function () {
		var prompt = document.getElementById("medicine-prompt-container");
		prompt.style.display = "none";
	}
</script>

<h2>Dagens medicin</h2>
<br />
<p>
	<a asp-action="#">
		<img height="20" width="20" alt="W3Schools" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-1/512/add-1-icon.png"> Tilføj ny medicin
	</a>
</p>


<div id="medicine-prompt-container">
	<center><h4 id="medicine">Du har endnu ikke taget dagens medicin.</h4></center>
</div><br />

<table class="table">
	<thead>
		<tr class="contact-list-headline-row">
			<th>
				Navn
			</th>
			<th>
				Antal
			</th>
			<th>
				Check
			</th>
		</tr>
	</thead>
	<tbody>
		<tr class="contact-list-item">
			<td class="contact-list-item-text">
				Phenytoin
			</td>

			<td class="contact-list-item-text">
				1
			</td>
			<td>
				<input type="checkbox" id="check1" onclick="medicineFunction()" value="Bike"><br>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr class="contact-list-item">
			<td class="contact-list-item-text">
				Acyclovir
			</td>

			<td class="contact-list-item-text">
				2
			</td>
			<td>
				<input type="checkbox" id="check2" onclick="medicineFunction()" value="Bike"><br>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr class="contact-list-item">
			<td class="contact-list-item-text">
				Penicillin
			</td>

			<td class="contact-list-item-text">
				1
			</td>
			<td>
				<input type="checkbox" id="check3" onclick="medicineFunction()" value="Bike"><br>
			</td>
		</tr>
	</tbody>
</table>


@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}

<script src="/js/site.js"></script>
<link href="/css/site.css" rel="stylesheet" />
