@model WelfareDenmarkMVC.Models.AccountViewModels.ChecklistViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Slet</h2>

<h3>Er du sikker på at du vil slette dette?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChecklistItem):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChecklistItem)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Slet indlæg" class="btn btn-default" /> |
        <a asp-action="Index">Tilbage til huskeliste</a>
    </form>
</div>
