@model WelfareDenmarkMVC.Models.AccountViewModels.ChecklistViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detaljer</h2>

<div>
    <h4>Huskeliste</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Registrede informationer på indlæg: 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChecklistItem)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Redigér</a> |
    <a asp-action="Index">Tilbage til huskeliste</a>
</div>
