@{
    ViewData["Title"] = "Donationer";
}
<head>
    
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.css">
    @*Lidt hygge font som gør damerne glade*@
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
    <script type="text/javascript" src="js/site.js"></script>

    </head>

<body>
    <div class="Donations-Container">
        <h1 class="Donations-Welcome">Donationer</h1>
        <div class="Donations-Intro">
            <p>Teamet er pt lønnet med god karma og glade damer, men ingen materielle goder. <br />
                en donation til teamet kan gøres med mobilepay til nedenstående nummer #parashobama <br />
            </p>
            <a>40 35 97 33</a>
        </div>
    </div>
</body>

