@{
    ViewData["Title"] = "Donationer";
}
<head>
    
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.css">
    @*Lidt hygge font som gør damerne glade*@
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
    <script type="text/javascript" src="js/site.js"></script>

    </head>

<body id="Dontation-body">
    
        <div class="Donations-Container">
            <h1 class="Donations-Welcome">Donationer</h1>
            <div class="Donations-Intro">
                <div>
                    Lidt info om vores donationer
                    <p class="Donation-answer">
                        Teamet er pt lønnet med god karma og glade damer, men ingen materielle goder. <br />
                        en donation til teamet kan gøres med mobilepay til nedenstående nummer #parashobama <br />
                    </p>
                </div>
               
                <div>
                    Hvad går mine penge til?
                    <p class="Donation-answer"></p>

                </div>
                <div>
                    Hvor meget skal jeg give?
                    <p class="Donation-answer"></p>

                </div>
                <div>
                    Trækker i mig hver måned?
                    <p class="Donation-answer"></p>

                </div>
                <div>
                    Hvordan betaler jeg?
                    <p class="Donation-answer"></p>
                    <p class="Donation-answer">Mobilepay: 40 35 97 33</p>
                </div>

            </div>
        </div>
  
</body>

