@{
    ViewData["Title"] = "Donationer";
}
<head>
    
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">
    
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
    <script type="text/javascript" src="/js/site.js"></script>

    </head>

<body id="Dontation-body">
    
        <div class="Donations-Container">
            <h1 class="Donations-Welcome">Donationer</h1>
            <div class="Donations-Intro">
                <div>
                    Lidt info om vores donationer
                    <p class="Donation-answer">
                        Teamet er pt lønnet med god karma, men ingen materielle goder. <br />
                        En donation til teamet kan gøres med mobilepay til nummeret lidt længere nede på siden <br />
                    </p>
                </div>
               
                <div>
                    Hvad går mine penge til?
                    <p class="Donation-answer">
                        Alle donationer går til videreudvikling og vedligeholdelse af siden. Siden løber i øjeblikket på frivillig arbejdskraft og donationer er ikke påkrævet, men alle donationer er i høj grad værdsat, og bidrager bestemt til et bedre arbejdsmiljø for udviklerne.
                    </p>

                </div>
                <div>
                    Hvor meget skal jeg give?
                    <p class="Donation-answer"> På nuværende tidspunkt er vedligeholdelsen af siden frivillig, og ikke mindst gratis. Dette betyder altså at man har mulighed for at donere lige præcis så meget som man har lyst til. Hver krone givet er værdsat og går til et godt formål. </p>

                </div>
                <div>
                    Trækker i mig hver måned?
                    <p class="Donation-answer"> Nej, hver donation er enkel og uforpligtende.</p>

                </div>
                <div>
                    Hvordan betaler jeg?
                    <p class="Donation-answer"> Vi modtager i øjeblikket donationer på mobilepay. Du kan finde nummeret nedenfor.</p>
                    <p class="Donation-answer" style="font-size: 24px;">Mobilepay: 40 35 97 33</p>
                </div>

            </div>
        </div>
  
</body>

