@{
    ViewData["Title"] = "Ofte Stillede Spørgsmål";
   
}
<script type="text/javascript" src="../wwwroot/js/site.js"></script>
<link rel="Stylesheet" type="text/css" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.css">
<link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body id="Faq-Body">
    @*Container div for the whole page*@    
    <div class="Faq-Container">

        <div class="Faq-Welcome">Ofte stillede spørgsmål</div>

        <div class="Questions-Container">

            @*Q1*@
            <a class="question" title="Klik for svar" href="javascript:ShowAnswer('a1')" style="text-decoration: none">Kan andre se mit info på min huskeliste?</a>
            <div id="a1" style="display: none">Nej, kun du kan se dine informationer. </div>
            <br />
            <br />

            @*Q2*@
            <a class="question" title="Klik for svar" href="javascript:ShowAnswer('a2')" style="text-decoration: none">Har i en App?</a>
            <div id="a2" style="display: none">Nej, ikke endnu.</div>
            <br />
            <br />

            @*Q3*@
            <a class="question" title="Klik for svar" href="javascript:ShowAnswer('a3')" style="text-decoration: none">Hvad er welfare denmarks mission?</a>
            <div id="a3" style="display: none">At udvikle velfærds teknologi for at hjælpe brugere med problematikker</div>
            <br />
            <br />

            @*Q4*@
            <a class="question" title="Klik for svar" href="javascript:ShowAnswer('a4')" style="text-decoration: none">Koster det noget at benytte siden og huskelisten?</a>
            <div id="a4" style="display: none">Nej, DemensDuVenter er gratis at benytte</div>
            <br />
            <br />

            @*Q5*@
            <a class="question" title="Klik for svar" href="javascript:ShowAnswer('a5')" style="text-decoration: none">Hvad gør jeg hvis jeg har glemt mit kodeord?</a>
            <div id="a5" style="display: none">For at få et nyt kodeord kan du klikke lige <a href="@Url.Action("ForgotPassword", "Account")">her</a></div>
            <br />
            <br />
            
            @*Q6*@
            <a class="question" title="Klik for svar" href="javascript:ShowAnswer('a6')" style="text-decoration: none">Hvad gør jeg hvis jeg gerne vil støtte teamet bag DemensDuVenter?</a>
            <div id="a6" style="display: none">Vi har en side med nærmere information om muligheden for at donere til teamet bag <a href="@Url.Action("Donations", "ContactSupport")">her</a></div>
            <br />
            <br />

            <br />
        </div>
    </div>
</body>
