@{
    ViewData["Title"] = "Ofte Stillede Spørgsmål";
}
<head>

    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.css">
    @*Lidt hygge font som gør damerne glade*@
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">

</head>

@*Container div for the whole page*@
<div class="Contact-Container">
    <div>
        <h1 class="Contact-Welcome">Ofte stillede spørgsmål</h1>
    </div>
    <div class="Questions-Container">

        <h1 id="question">Hvorfor ender jeg på en Rick Astley sang, når jeg ville af med min demens?</h1>
        <h1 id="answer">Fordi du er blevet rick rollet ROFLMAO :DD</h1>

    </div>
</div>



