@{
    ViewData["Title"] = "Nøglebegreber";
}
<head>
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.css">
    @*Lidt hygge font som gør damerne glade*@
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
    <script type="text/javascript" src="js/site.js"></script>
</head>

<body id="KeyTerms-Body">

    <div class="Key-Container">
        <h1 class="Key-Welcome">Nøgle begreber</h1>
        <p class="Key-Text"><strong>Personlig information:</strong> Dette er den information som vi gemmer om/for dig, men som kun du kan se, f.eks. din huskeliste</p>
        <br />

        <p class="Key-Text">
            <strong>IP-Adresse:</strong> Enhver enhed som er tilkoblet internettet bliver tildelt en såkaldt "Internet protocol(IP) adress" <br />
            Disse numre bliver oftests tildelt ud fra geografisk lokation. En IP-Adresse kan ofte blive brugt til at specifisere lokationen hvorfra en enhed tilgår internettet
        </p>
        <br />

        <p class="Key-Text"><strong>Følsomme oplysninger:</strong> Vi gemmer ikke oplysinger om ting som f.eks din politiske holdning, seksuelle preference eller religiøse overbevisning</p>
        <br />

        <p class="Key-Text"><strong>Huskelisten:</strong>Service til at samle de informationer, du som bruger, ønsker at gemme som kun du kan se </p>
        <br />

        <p class="Key-Text"><strong>Rick roll:</strong> Når vores brugere bliver udsat for en overraskende visning af videoen "Never gonna give you up", du kan <a href="@Url.Action("RemoveDementia","Home")">her</a> holde dig ajour med hvor mange gange det er sket for dig</p>
       

    </div>
</body>
