@{
    ViewData["Title"] = "Log In Support";
}
<head>
    
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.css">

</head>

<h2>@ViewData["Title"]</h2>

