@{
    ViewData["Title"] = "Log In Support";
}
<head>
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.css">
    @*Lidt hygge font som gør damerne glade*@
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
    <script type="text/javascript" src="js/site.js"></script>
</head>

<div class="LogIn-Container">
    <h1 class="LogIn-Welcome"> Log in Hjælp</h1>
    <div class="LogIn-Intro">
        <p>Vi har her samlet en råkke gode råd <br />
            til at løse eventuelle problemmer med at kunne logge in <br />
        </p>
    </div>
</div>

