@{
    ViewData["Title"] = "Betalinger";
}
<head>
    
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.css">
    @*Lidt hygge font som gør damerne glade*@
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
    <script type="text/javascript" src="js/site.js"></script>

</head>

<body>
    <div class="Payment-Container">
        <h1 class="Payment-Welcome">Betalinger</h1>
        <div class="Payment-Intro">
            <p>Denne side er forbeholdt til hvis en betalings service bliver implementeret, <br />
                på nuværende tidspunkt er den ikke god for meget andet end:
            </p>
            <img class="Payment-Image" src="~/images/isnowlegal.gif" alt="Legal"/>
        </div>
    </div>
</body>

