@{
    ViewData["Title"] = "Betalinger";
}
<head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="Stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css">

    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
    <script type="text/javascript" src="~/js/site.js"></script>

</head>

<body>
    <div class="Payment-Container">
        <h1 class="Payment-Welcome">Betalinger</h1>
        <div class="Payment-Intro">
            <p>Denne side er forbeholdt til hvis en betalings service bliver implementeret <br />
               
            </p>
          
        </div>
    </div>
</body>

