@{
    ViewData["Title"] = "Sikkerhed";
}
<head>
    
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.css">
    @*Lidt hygge font som gør damerne glade*@
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
    <script type="text/javascript" src="js/site.js"></script>

</head>

<body>
<div class="Security-Container">
    <h1 class="Security-Welcome">Sikkerhed</h1>
    <div class="Security-Intro">
        <p>
            Vi tager din sikkerhed seriøst, læs herunder hvilke tiltag vi har gjort <br />
            for at sikre din sikkerhed og privatliv
        </p>
        <img class="Security-Image" src="~/images/ConfusedTravolta.gif" alt="Confused" />
        <p style="font-size: 16px; margin-bottom: 50px;">
            For at forklare og skabe forståelse på den mest tydelige måde har vi inkluderet eksempler og forklaringer på <a style="text-decoration: none" href="@Url.Action("KeyTerms", "ContactSupport")">nøglebegreber,</a> <br />
            hvis noget leder til spørgsmål er du mere end velkommen til at <a style="text-decoration: none" href="@Url.Action("Contact", "Home")">kontakte os</a>
        </p>
    </div>
    
    <div class="Security-Information">
        <h1 style="font-size: 28px; font-weight: bolder">Vi ønsker at være åbne om hvilke informationer vi indsamler gennem vores service</h1>
        <p>Vi indsamler informationer for at forbedre servicen for alle vores brugere - lige fra hjælpe at dig med at finde din <a href="#">lokation</a>, <br />
            til at kunne hjælpe dig med at huske navnet på din nevø</p>
    </div>
</div>
</body>

