@{
    ViewData["Title"] = "Sikkerhed";
}
<head>
    
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.css">
    @*Lidt hygge font som gør damerne glade*@
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
    <script type="text/javascript" src="js/site.js"></script>

</head>

<body>
<div class="Security-Container">
    <h1 class="Security-Welcome">Sikkerhed</h1>
    <div class="Security-Intro">
        <p>
            Vi tager din sikkerhed seriøst, læs herunder hvilke tiltag vi har gjort <br />
            for at sikre din sikkerhed
        </p>
        <img class="Security-Image" src="~/images/ConfusedTravolta.gif" alt="Confused" />
    </div>
</div>

</body>

