@{
    ViewData["Title"] = "Sikkerhed";
}
<head>
    
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.css">
    @*Lidt hygge font som gør damerne glade*@
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
    <script type="text/javascript" src="js/site.js"></script>

</head>

<body>
    <div class="Security-Container">
        <h1 class="Security-Welcome">Sikkerhed</h1>
        <div class="Security-Intro">
            <p>
                Vi tager din sikkerhed seriøst, læs herunder hvilke tiltag vi har gjort <br />
                for at sikre din sikkerhed og privatliv
            </p>
            <img class="Security-Image" src="~/images/ConfusedTravolta.gif" alt="Confused" />
            <p style="font-size: 16px; margin-bottom: 50px;">
                For at forklare og skabe forståelse på den mest tydelige måde har vi inkluderet eksempler og forklaringer på <a style="text-decoration: none" href="@Url.Action("KeyTerms", "ContactSupport")">nøglebegreber,</a> <br />
                hvis noget leder til spørgsmål er du mere end velkommen til at <a style="text-decoration: none" href="@Url.Action("Contact", "Home")">kontakte os</a>
            </p>
        </div>

        <div class="Security-Information">
            <h1 style="font-size: 28px; font-weight: bolder">Vi ønsker at være åbne om hvilke informationer vi indsamler gennem vores service</h1>
            <section>
                Vi indsamler informationer for at forbedre servicen for alle vores brugere - lige fra hjælpe at dig med at finde din <p class="Security-Tooltip">lokation <span class="Security-TooltipText">Din lokation kan blive bestemt ved hjælp af: GPS eller IP-adresse</span></p>, <br />
                til at kunne hjælpe dig med at huske navnet på din <p class="Security-Tooltip">nevø <span class="Security-TooltipText" style="width: 150px;">Gennem din personlige huskeliste på din <a href="@Url.Action("index", "Manage")">profil</a> kan du blandt andet gemme ting som f.eks. din nevøs navn</span></p> <br />
                Når du opretter dig gemmer vi dine informationer, vi forstår at dette er et stort ansvar og vi arbejder hårdt på at beskytte dine informationer. <br />
                Du kan vælge at tilføje dit <p class="Security-Tooltip">telefon nummer<span class="Security-TooltipText">Hvis du endnu ikke har gjort det, kan det gøres <a href="@Url.Action("index", "Manage")">her</a></span></p>
            </section>
        </div>
    </div>
</body>

