@{
    ViewData["Title"] = "News";
    Layout = "_Layout";
}
<head>
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">
 
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
    <script type="text/javascript" src="/js/site.js"></script>
</head>
<body id="News-Body">
    <div class="News-Container">
        <div class="News-Welcome">
            <h1 class="News-Welcome">Nyheder</h1>
        </div>
        
       

        @*Post 6*@
        <div class="News-Post">
            <h2>Donationer</h2>
            <h4>Vi modtager nu donationer, 9 oktober, 2018</h4>
            <img class="News-PostImage" src="/images/thankyou.jpg" alt="Donationer" />
            <p>
                Vi er overvældet over den interesse for projektet vi har modtaget, brugere har efterspurgt muligheden for at støtte os, <br />
                den mulighed er nu implementeret, find den ved at navigere til kontakt siden og herefter til "Donationer"
            </p>
        </div>
        
        @*Post 5*@
        <div class="News-Post">
            <h2>FAQ</h2>
            <h4>Ofte stillede spørgsmål, 8 oktober, 2018</h4>
            <img style="height: 150px; width: 200px;" src="/images/newslightbulb.jpg" alt="Ofte stillede spørgsmål" />
            <p>
                Vi modtager løbende mange af de samme spørgsmål, derfor har vi valgt at svare på de spørgsmål vi oftest møder, <br />
                du kan se spørgsmålene samt de respektive svar ved at klikke på FAQ ikonet under "Kontakt"
            </p>
        </div>
        
        @*Post 4*@
        <div class="News-Post">
            <h2>Hjælp til login</h2>
            <h4>Hjælpen er her, 7 oktober, 2018</h4>
            <img style="height: 150px; width: 200px;" src="/images/LogInHelp.PNG" alt="Hjælp til log in" />
            <p>
                Vi har nu tilføjet en række råd til hvis du som bruger oplever problemer med at logge ind på din profil
            </p>
        </div>
        
        @*Post 3*@
        <div class="News-Post">
            <h2>Om os</h2>
            <h4>Mød teamet bag, 6 oktober, 2018</h4>
            <img style="height: 150px; width: 400px; padding: 20px;" src="/images/AboutUs.PNG" alt="Om os" />
            <p>
                Du kan nu lære teamet lidt bedre at kende og sætte ansigt på udviklerne bag, find "Om os" siden oppe i navigationsbjælken
            </p>
        </div>
        
        @*Post 2*@
        <div class="News-Post">
            <h2>Huskeliste</h2>
            <h4>Gem alt det du gerne vil huske, 5 oktober, 2018</h4>
            <img class="News-PostImage" src="/images/Huskeliste.PNG" alt="Huskeliste" />
            <p>
                Vores nyeste værktøj er landet! Gennem din profil kan du nu gemme ting efter eget valg, ting du tilføjer til din egen personlige huskeliste vil blive gemt <br />
                så du altid kan finde dem igen
            </p>
        </div>

        @*Post 1*@
        <div class="News-Post">
            <h2>Find mig!</h2>
            <h4>Nyeste funktion er her nu, 3 oktober, 2018</h4>
            <img class="News-PostImage" src="/images/findme.png" alt="Find mig" />
            <p>
                Vores nyeste funktion er nu klar til brug, du kan benytte den ved at klikke på "Find mig" øverst på siden. Ved brug af din ip-adresse <br />
                hjælper vi dig med at finde din lokation så du undgår forvirring hvis du er faret vild
            </p>
        </div>
    </div>
</body>
