@{
    ViewData["Title"] = "News";
    Layout = "_Layout";
}
<head>
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css">
    @*Lidt hygge font som gør damerne glade*@
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
    <script type="text/javascript" src="js/site.js"></script>
</head>
<body>
    <div class="News-Container">
        <div class="News-Welcome">
            <h1>Nyheder gør damerne glade</h1>
        </div>
        <img class="News-Image" src="https://images.unsplash.com/photo-1523585559758-0a4a68774f35?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d6c293048951706fdb657ff12b41bc95&auto=format&fit=crop&w=1055&q=80" alt="fishy boi" />
        @*Post 1*@
        <div class="News-Post">
            <h2>Find mig!</h2>
            <h4>Nyeste funktion er her nu, 5 oktober, 2018</h4>
            <img class="News-PostImage" src="~/images/findme.png" alt="Find mig" />
            <p>
                Vores nyeste funktion er nu klar til brug, du kan benytte den ved at klikke på "Find mig!" øverst på siden. Ved brug af din ip-adress <br />
                hjælper vi dig med at finde din lokation så du undgår forvirring hvis du er faret vild
            </p>
        </div>
        @*Post 2*@
        <div class="News-Post">
            <h2>Huskeliste</h2>
            <h4>Gem alt det du gerne vil huske, 7 oktober, 2018</h4>
            <img class="News-PostImage" src="~/images/Huskeliste.PNG" alt="Huskeliste" />
            <p>
                Vores nyeste værktøj er landet! gennem din profil kan du nu gemme ting efter eget valg, ting du tilføjer til din egen personlige huskeliste vil blive gemt <br />
                så du altid kan finde dem igen
            </p>
        </div>
    </div>

</body>
