body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

 /*Hide/rearrange for smaller screens*/ 
@media screen and (max-width: 767px) {
    
     Hide captions 
    .carousel-caption {
        display: none;
    }
}


#Profilelist {
    padding-top: 10px;
}

#btnLasse {
    padding-bottom: 10px;
}

.bottomBar {
    padding-top: 40px;
}

#bottomBarLeft {
    display: inline-block;
    background-color: tan;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 4%;
}

#bottomBarCenter {
    display: inline-block;
    background-color: tan;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 4%;
}

#bottomBarRight {
    display: inline-block;
    background-color: tan;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 4%;
}

/* About us - Sektion 1*/
.about-us-section1 {
    margin-top: 0px;
    width: 100%;
    height: 150px;
    background-color: #222222;
}

/* About us - Sektion 1 - Overskrift*/
#about-us-headline {
    font-size: 50px;
    padding-top: 50px;
    padding-left: 50px;
    color: #f7f7f7;
}

/* About us - Hele containeren med vores billeder og paragraph om os */
.about-us-person-container {
    width: 200px;
    height: auto;
    background-image: linear-gradient(#f4f4f4, white);
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    vertical-align: top;
}

@media only screen and (max-width: 600px) {
    .about-us-person-container {
        margin-left:25%;
    }

    #about-us-headline {
        font-size: 40px;
        padding-top: 55px;
        padding-left: 50px;
        color: #f7f7f7;
    }
}

/* About us - Div til de invididuelle bokse med billeder */
.about-us-person {
    background-color: #f4f4f4;
    border-radius: 70%;
    padding: 1px;
    border: 1px solid #aaaaaa;
    width: 150px;
    height: 150px;
    margin-top: 20px;
  
}

    /* About us - Hover-effekt til ovenstående */
    .about-us-person:hover {
        background-color: #f4f4f4;
        border-radius: 70%;
        /*opacity: 0.5;*/
        width: 150px;
        height: 150px;
        margin-top: 20px;
    
    }
.Lasse {
    background-image: url('https://image.ibb.co/gb70Mp/latze_16.png');
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 80px;
}
    .Lasse:hover {
        background-image: url('https://image.ibb.co/gb70Mp/latze_16.png');
        background-position: center;
        background-repeat: no-repeat;
        background-position-y: 40px;
    }


.Mikkel {
    background-image: url('https://risibank.fr/cache/stickers/d419/41945-full.png');
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 80px;
}

    .Mikkel:hover {
        background-image: url('https://risibank.fr/cache/stickers/d419/41945-full.png');
        background-position: center;
        background-repeat: no-repeat;
        background-position-y: 40px;
    }

.Simon {
    background-image: url('https://risibank.fr/cache/stickers/d419/41945-full.png');
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 80px;
}

    .Simon:hover {
        background-image: url('https://risibank.fr/cache/stickers/d419/41945-full.png');
        background-position: center;
        background-repeat: no-repeat;
        background-position-y: 40px;
    }
.Frederik {
    background-image: url('https://i1.sndcdn.com/artworks-000136011725-p7ugdr-t500x500.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -20px;
}

    .Frederik:hover {
        background-image: url('https://i1.sndcdn.com/artworks-000136011725-p7ugdr-t500x500.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-position-y: -40px;
    }
.Christoffer {
    background-image: url('https://risibank.fr/cache/stickers/d419/41945-full.png');
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 80px;
}

    .Christoffer:hover {
        background-image: url('https://risibank.fr/cache/stickers/d419/41945-full.png');
        background-position: center;
        background-repeat: no-repeat;
        background-position-y: 40px;
    }



/* About us */
#about-us-person1 {
    padding-top: 85px;
    color: white;
}

/* About us - Paragraph inde i bokse med billeder*/
#about-us-paragraph3 {
    padding: 20px;
}

/* About us - Paragraph inde i bokse med billeder*/
#about-us-paragraph2 {
    margin-top: 10px;
    font-size: 18px;
}

/* About us - Paragraph med info omkring hjemmesiden*/
#about-us-paragraph {
    padding: 20px;
    width: 100%;
    font-size: 18px;
}

/* About us - Paragraph med info omkring hjemmesiden*/
#about-us-info {
    width: auto;
}

/* About us - Info-ikon*/
#about-us-icon {
    height: 5%;
    width: 5%;
}
