body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

 /*Hide/rearrange for smaller screens*/ 
@media screen and (max-width: 767px) {
    
     Hide captions 
    .carousel-caption {
        display: none;
    }
}


#Profilelist {
    padding-top: 10px;
}

#btnLasse {
    padding-bottom: 10px;
}

.bottomBar {
	margin-top: 20px;
	padding-top: 10px;
	border-style: dotted;
	border-color: #e0e0e0;
}

#indexPicture {
	border-radius: 50%;
	object-fit: cover;
}

#bottomBarCenter {
	display: inline-block;
	background-color: white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 4%;
	margin-left: 30px;
	padding: 10px;
	border-radius: 0%;
	margin-top: 10px;
	border-color: #e0e0e0;
}

@media only screen and (max-width: 500px) {
	#bottomBarCenter {
		margin-left: 0px;
		margin-right: 5px;
	}

	.bottomBar {
		margin-top: 20px;
		padding-top: 10px;
		border-style: dotted;
		border-color: white;
	}
}

/* About us - Sektion 1*/
.about-us-section1 {
    margin-top: 0px;
    width: 100%;
    height: 150px;
    background-color: #222222;
}

/* About us - Sektion 1 - Overskrift*/
#about-us-headline {
    font-size: 50px;
    padding-top: 50px;
    padding-left: 50px;
    color: #f7f7f7;
}

/* About us - Hele containeren med vores billeder og paragraph om os */
.about-us-person-container {
    width: 200px;
    height: auto;
    background-image: linear-gradient(#f4f4f4, white);
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    vertical-align: top;
}

@media only screen and (max-width: 600px) {
    .about-us-person-container {
        margin-left:25%;
    }

    #about-us-headline {
        font-size: 40px;
        padding-top: 55px;
        padding-left: 50px;
        color: #f7f7f7;
    }
}

/* About us - Div til de invididuelle bokse med billeder */
.about-us-person {
    background-color: #f4f4f4;
    border-radius: 70%;
    padding: 1px;
    border: 1px solid #aaaaaa;
    width: 150px;
    height: 150px;
    margin-top: 20px;
  
}

    /* About us - Hover-effekt til ovenstående */
    .about-us-person:hover {
        background-color: #f4f4f4;
        border-radius: 70%;
        width: 150px;
        height: 150px;
        margin-top: 20px;
    
    }
.Lasse {
    background-image: url('https://image.ibb.co/gb70Mp/latze_16.png');
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 80px;
}
    .Lasse:hover {
        background-image: url('https://image.ibb.co/gb70Mp/latze_16.png');
        background-position: center;
        background-repeat: no-repeat;
        background-position-y: 20px;
        transition: 0.5s;
    }


.Mikkel {
    background-image: url('https://i.imgur.com/Y4wt1Xg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 120px;
}

    .Mikkel:hover {
        background-image: url('https://i.imgur.com/Y4wt1Xg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-position-y: 20px;
        transition: 0.5s;
    }

.Simon {
    background-image: url('https://imgur.com/XjelNWV.png');
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 80px;
}

    .Simon:hover {
        background-image: url('https://imgur.com/XjelNWV.png');
        background-position: center;
        background-repeat: no-repeat;
        background-position-y: 25px;
        transition: 0.5s;
    }
.Frederik {
    background-image: url('https://i.imgur.com/XdBDdKI.png');
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 70px;
}

    .Frederik:hover {
        background-image: url('https://i.imgur.com/XdBDdKI.png');
        background-position: center;
        background-repeat: no-repeat;
        background-position-y: 0px;
        transition: 0.5s;
    }
.Christoffer {
    background-image: url('../images/ChrisFace.png');
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 120px;
}

    .Christoffer:hover {
        background-image: url('../images/ChrisFace.png');
        background-position: center;
        background-repeat: no-repeat;
        background-position-y: 0px;
        transition: 0.5s;
    }



/* About us */
#about-us-person1 {
    padding-top: 85px;
    color: white;
}

/* About us - Paragraph inde i bokse med billeder*/
#about-us-paragraph3 {
    padding: 20px;
}

/* About us - Paragraph inde i bokse med billeder*/
#about-us-paragraph2 {
    margin-top: 10px;
    font-size: 18px;
}

/* About us - Paragraph med info omkring hjemmesiden*/
#about-us-paragraph {
    padding: 20px;
    width: 100%;
    font-size: 18px;
}

/* About us - Paragraph med info omkring hjemmesiden*/
#about-us-info {
    width: auto;
}

/* About us - Info-ikon*/
#about-us-icon {
    height: 5%;
    width: 5%;
}

/* Contact styling*/

.contact-person-container {
    background-color: #f9f9f9;
    width: 100%;
    height: 100px;
}

.contact-person-container:hover {
    background-color: #dddddd;

}

.contact-left {
    width: 20%;
    height: 100px;
    float: left;
    padding: 10px;
}

.contact-person-image {
    background-image: url('https://i.kym-cdn.com/photos/images/newsfeed/001/176/216/122.png');
    background-position: center;
    background-position-y: 600px;
    background-position-x: 280px;
    margin: auto;
    width: 60%;
    padding: 30px;
    height: 80px;
    border-radius: 50%;
}

@media screen and (max-width : 1000px) {
    .contact-person-image {
        background-image: url('https://i.kym-cdn.com/photos/images/newsfeed/001/176/216/122.png');
        background-position: center;
        background-position-y: 600px;
        background-position-x: 260px;
        margin: auto;
        margin-top: 10px;
        max-width: 100%;
        width: 80%;
        height: 50%;
        border-radius: 50%;
    }
}


.contact-right {
    width: 80%;
    height: 100px;
    float: right;
}

.contact-person-name {
    width: 100%;
    height: 50px;
}

#contact-name-text {
    padding-top: 17px;
    padding-left: 17px;
}

#contact-phone-text {
    padding-top: 17px;
    padding-left: 17px;
}

.contact-person-phone {
    width: 100%;
    height: 50px;
}

#greeting {
	padding-top: 20px;
	font-size: 20px;
}

.contact-list-item {
    height: 20px;
}

    .contact-list-item:hover {
        background-color: #f2f2f2;
    }

.contact-list-item-text {
    margin-top: 20px;
    font-size: 16px;
    vertical-align: middle;
}

.contact-list-headline-row {
    background-color: #f9f9f9;
}

#create-new-contact {
    color: black;
}

#medicine-prompt-container {
	width: 100%;
	height: 50px;
	background-color: #e89088;
	border-style: solid;
	border-color: #a84e46;
	border-width: 3px;
	border-radius: 10px;
}